
/*noinspection CssReplaceWithShorthandSafely*/
@layer utilities {
    .animate-underline {
        text-decoration: none;
        background: linear-gradient(to right, transparent, transparent),
        linear-gradient(to right, theme("colors.secondary.400"), theme("colors.secondary.600"));
        background-size: 100% 0.1em, 0 0.1em;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition-delay: 500ms;
        transition: background-size 1.2s ease-out;
    }

    .animate-underline.visible {
        background-size: 0 0.1em, 100% 0.1em;
    }

    .animate-section-title {
        opacity: 0;
        transition-duration: 0.5s;
        transition-property:  opacity;
        transition-timing-function: ease-in-out;
    }

    .animate-section-title.visible {
        opacity: 1;
    }

    .animate-slide {
        opacity: 0;
        transition-duration: 0.8s;
        animation-delay: 0.3s;
        transition-property: transform, opacity;
        transition-timing-function: ease-out;
        transform: translateX(-30%);
    }

    .animate-slide.visible {
        opacity: 1;
        transform: translateX(0%);
    }
}


